@charset "utf-8";
/* CSS Document */

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GLOBAL*/
body{
	width: 100%;
	min-height: 100%;
	background-color:#393636;
	color:#F5F3F3;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}
h1{
	font-size:42px; 
	text-align:center;
	padding: 15px;
	}
h2{
	font-size:46px; 
	text-align:center;
	}
input{
	background-color:#838383;
	border: solid 1px #000000;
	border-radius: 1px;
	width: 100%;
	height: 25px;
	font-size:18px;
	padding: 3px;
	}
.fake-link{
    color:#2499d7;
    text-decoration: underline;
    cursor: pointer;
}
	
/*INTRO*/
#intro{
	width: 80%;
	margin: 0 auto;
	padding-top: 10%;
	text-align:center;
	}
#login_details{
	width: 30%;
	min-width:375px;
	margin: 40px auto 25px auto;
	text-align:center;
	border: solid 3px #1D1D1D;
	border-radius:3px;
	padding: 5px;
	}
#login_details table{
	width:100%;
	}
#login_details td{
	padding: 10px;
	}
#error_container{
	width: 30%;
	height: 100px;
	}
#login{
	width: 30%;
	height: 80px;
	background-color:#247BD7;
	margin: 10px auto 20px auto;
	text-align:center;
	font-size:24px;
	line-height:80px;
	border: solid 3px #247BD7;
	border-radius:3px;
	cursor: pointer;
	}
#registration_container{
	width: 30%;
	margin: 0 auto;
	text-align:right;
	overflow:hidden;
	}
#registration_container table{
	margin: 10px auto;
	width:90%;
	}
#registration_container td{
	padding: 10px 10px 10px 5px;
	}
